<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.3800.47" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.WinUI" version="1.8.260204000" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.InteractiveExperiences" version="1.8.260125001" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.Foundation" version="1.8.260203002" targetFramework="native" />
</packages>