<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">
  
  <Identity Name="48618ead-cca9-4d38-9fa8-9e2710f4d459"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="48618ead-cca9-4d38-9fa8-9e2710f4d459" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>test_external_uap</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\UnitTestStoreLogo.png</Logo>
    <Description>test_external</Description>
  </Properties>
  
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10069.0" MaxVersionTested="10.0.10069.0" />
  </Dependencies>
  
  <Applications>
    <Application Id="vstest.executionengine.universal.App"
        Executable="$targetnametoken$.exe"
        EntryPoint="test.external.App">
      <uap:VisualElements
        DisplayName="test.external"
        Square150x150Logo="Assets\UnitTestLogo.png"
        Square44x44Logo="Assets\UnitTestSmallLogo44x44.png"
        Description="test.external"
        BackgroundColor="transparent">
        <uap:SplashScreen Image="Assets\UnitTestSplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
