<?xml version="1.0"?>
<!--
Copyright (c) Microsoft Corporation. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use these files except in compliance with the License. You may obtain
a copy of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
-->

<Settings>

  <!-- This document contains overrides for what is in the D2D API xml files.-->

  <Prefix Value="Canvas"/>

  <Subnamespace Value="Canvas"/>

  <FilenameBase Value="Canvas"/>
  
  <Primitive Name="FLOAT" ProjectedNameOverride="float"/>
  
  <Namespace Name="D2D" NameOverride="D2D1">
    <Struct Name="POINT_2F" ShouldProject="false" ProjectedNameOverride="Point" IdlNamespaceQualifier="Windows.Foundation."/>
    <Struct Name="RECT_F" ShouldProject="false" ProjectedNameOverride="Rect" IdlNamespaceQualifier="Windows.Foundation."/>
  </Namespace>

  <Namespace Name="D2D1">
    <!-- Enums and structs are not projected by default and need to be explicitly included here -->

    <Enum Name="DEBUG_LEVEL" ShouldProject="true"/>
    <Enum Name="CAP_STYLE" ShouldProject="true"/>
    <Enum Name="DASH_STYLE" ShouldProject="true">
        <Field Name="CUSTOM" ShouldProject="false" />
    </Enum>
    <Enum Name="LINE_JOIN" ShouldProject="true"/>
    <Enum Name="STROKE_TRANSFORM_TYPE" ShouldProject="true" ProjectedNameOverride="StrokeTransformBehavior"/>"
    <Enum Name="ANTIALIAS_MODE" ShouldProject="true" ProjectedNameOverride="Antialiasing">
        <Field Name="PER_PRIMITIVE" ProjectedNameOverride="Antialiased"/>
    </Enum>
    <Enum Name="PRIMITIVE_BLEND" ShouldProject="true" ProjectedNameOverride="Blend"/>
    <Enum Name="TEXT_ANTIALIAS_MODE" ShouldProject="true" ProjectedNameOverride="TextAntialiasing">
        <Field Name="CLEARTYPE" ProjectedNameOverride="ClearType"/>
    </Enum>
    <Enum Name="UNIT_MODE" ShouldProject="true" ProjectedNameOverride="Units"/>
    <Enum Name="EXTEND_MODE" ShouldProject="true" ProjectedNameOverride="EdgeBehavior"/>
    <Enum Name="INTERPOLATION_MODE" ShouldProject="true" ProjectedNameOverride="ImageInterpolation"/>
    <Enum Name="COLOR_SPACE" ShouldProject="true">
        <Field Name="CUSTOM" ShouldProject="true"/><!--Custom color spaces are accessible, currently, through interop.-->
        <Field Name="SRGB" ShouldProject="true" ProjectedNameOverride="Srgb"/>
        <Field Name="SCRGB" ShouldProject="true" ProjectedNameOverride="ScRgb"/>
    </Enum>
    <Enum Name="BUFFER_PRECISION" ShouldProject="true">
        <Field Name="UNKNOWN" ShouldProject="false"/>
        <Field Name="8BPC_UNORM" ShouldProject="true" ProjectedNameOverride="Precision8UIntNormalized" ProjectedValueOverride="0"/>
        <Field Name="8BPC_UNORM_SRGB" ShouldProject="true" ProjectedNameOverride="Precision8UIntNormalizedSrgb" ProjectedValueOverride="1"/>
        <Field Name="16BPC_UNORM" ShouldProject="true" ProjectedNameOverride="Precision16UIntNormalized" ProjectedValueOverride="2"/>
        <Field Name="16BPC_FLOAT" ShouldProject="true" ProjectedNameOverride="Precision16Float" ProjectedValueOverride="3"/>
        <Field Name="32BPC_FLOAT" ShouldProject="true" ProjectedNameOverride="Precision32Float" ProjectedValueOverride="4"/>
    </Enum>
    <Enum Name="ALPHA_MODE" ShouldProject="true">
        <Field Name="UNKNOWN" ShouldProject="false"/>
        <Field Name="PREMULTIPLIED" ShouldProject="true" ProjectedValueOverride="0"/>
        <Field Name="STRAIGHT" ShouldProject="true" ProjectedValueOverride="1"/>
        <Field Name="IGNORE" ShouldProject="true" ProjectedValueOverride="2"/>
    </Enum>
    <Enum Name="COMPOSITE_MODE" ShouldProject="true" ProjectedNameOverride="Composite">
        <Field Name="PLUS" ProjectedNameOverride="Add"/>
        <Field Name="SOURCE_COPY" ProjectedNameOverride="Copy"/>
        <Field Name="BOUNDED_SOURCE_COPY" ProjectedNameOverride="BoundedCopy"/>
    </Enum>
    <Enum Name="SWEEP_DIRECTION" ShouldProject="true"/>
    <Enum Name="FIGURE_BEGIN" ShouldProject="true" ProjectedNameOverride="FigureFill">
      <Field Name="HOLLOW" ShouldProject="true" ProjectedNameOverride="DoesNotAffectFills"/>
      <Field Name="FILLED" ShouldProject="true" ProjectedNameOverride="Default"/>
    </Enum>
    <Enum Name="FIGURE_END" ShouldProject="true" ProjectedNameOverride="FigureLoop"/>
    <Enum Name="FILL_MODE" ShouldProject="true" ProjectedNameOverride="FilledRegionDetermination"/>
    <Enum Name="PATH_SEGMENT" ShouldProject="true" ProjectedNameOverride="FigureSegmentOptions"/>
    <Enum Name="ARC_SIZE" ShouldProject="true"/>

    <Enum Name="COMBINE_MODE" ShouldProject="true" ProjectedNameOverride="GeometryCombine"/>
    <Enum Name="GEOMETRY_RELATION" ShouldProject="true">
      <Field Name="UNKNOWN" ShouldProject="false"/>
      <Field Name="DISJOINT" ShouldProject="true" ProjectedValueOverride="0"/>
      <Field Name="IS_CONTAINED" ShouldProject="true" ProjectedNameOverride="Contained" ProjectedValueOverride="1"/>
      <Field Name="CONTAINS" ShouldProject="true" ProjectedValueOverride="2"/>
      <Field Name="OVERLAP" ShouldProject="true" ProjectedValueOverride="3"/>
    </Enum>
    <Enum Name="GEOMETRY_SIMPLIFICATION_OPTION" ShouldProject="true" ProjectedNameOverride="GeometrySimplification"/>
    <Enum Name="LAYER_OPTIONS1" ShouldProject="true" ProjectedNameOverride="LayerOptions"/>
    <Enum Name="DRAW_TEXT_OPTIONS" ShouldProject="true">
      <Field Name="NONE" ProjectedNameOverride="Default"/>
      <Field Name="NO_SNAP" ProjectedNameOverride="NoPixelSnap"/>
    </Enum>
  </Namespace>
  
  <Namespace Name="Effects">
    <Enum Name="3DTransformEffectInterpolationMode" ShouldProject="false" ProjectedNameOverride="CanvasImageInterpolation" Namespace="Microsoft.Graphics.Canvas">
      <Field Name="HighQualityCubic" Index="5" ShouldProject="false"/>
    </Enum>
    <Enum Name="EffectInterpolationMode" ShouldProject="false" ProjectedNameOverride="CanvasImageInterpolation" Namespace="Microsoft.Graphics.Canvas"/>
    <Enum Name="EffectScaleMode" ShouldProject="false" ProjectedNameOverride="CanvasImageInterpolation" Namespace="Microsoft.Graphics.Canvas"/>

    <Enum Name="EffectXChannelSelect" ShouldProject="true" ProjectedNameOverride="EffectChannelSelect">
      <Field Name="RedChannel" ProjectedNameOverride="Red"/>
      <Field Name="GreenChannel" ProjectedNameOverride="Green"/>
      <Field Name="BlueChannel" ProjectedNameOverride="Blue"/>
      <Field Name="AlphaChannel" ProjectedNameOverride="Alpha"/>
    </Enum>
    <Enum Name="EffectYChannelSelect" ShouldProject="false" ProjectedNameOverride="EffectChannelSelect"/>
    <Enum Name="EffectEdgeModeX" ShouldProject="false" ProjectedNameOverride="CanvasEdgeBehavior" Namespace="Microsoft.Graphics.Canvas"/>
    <Enum Name="EffectEdgeModeY" ShouldProject="false" ProjectedNameOverride="CanvasEdgeBehavior" Namespace="Microsoft.Graphics.Canvas"/>
    <Enum Name="ColorMatrixEffectAlphaMode" ShouldProject="false" ProjectedNameOverride="CanvasAlphaMode" Namespace="Microsoft.Graphics.Canvas">
      <Field Name="Ignore" Index="2" ShouldProject="false"/>
    </Enum>
    <Enum Name="CompositeEffectMode" ShouldProject="false" ProjectedNameOverride="CanvasComposite" Namespace="Microsoft.Graphics.Canvas"/>
    <Effect Name="ColorMatrixEffect">
      <Property Name="AlphaMode" IsHandCoded="true"/>
    </Effect>
    <Effect Name="AffineTransform2DEffect" ProjectedNameOverride="Transform2DEffect"/>
    <Effect Name="FloodEffect" ProjectedNameOverride="ColorSourceEffect"/>
    <Effect Name="AtlasEffect">
      <Property Name="InputRect" ProjectedNameOverride="SourceRectangle"/>
      <Property Name="InputPaddingRect" ProjectedNameOverride="PaddingRectangle"/>
    </Effect>
    <Effect Name="BorderEffect">
      <Property Name="EdgeModeX" ProjectedNameOverride="ExtendX"/>
      <Property Name="EdgeModeY" ProjectedNameOverride="ExtendY"/>
    </Effect>
    <Effect Name="CropEffect">
      <Property Name="Rect" ProjectedNameOverride="SourceRectangle"/>
    </Effect>
    <Effect Name="DirectionalBlurEffect">
      <Property Name="StandardDeviation" ProjectedNameOverride="BlurAmount"/>
      <Property Name="Angle" ConvertRadiansToDegrees="true"/>
    </Effect>
    <Effect Name="HueRotationEffect">
      <Property Name="Angle" ConvertRadiansToDegrees="true"/>
    </Effect>
    <Effect Name="DisplacementMapEffect">
      <Property Name="Scale" ProjectedNameOverride="Amount"/>
    </Effect>
    <Effect Name="DistantDiffuseEffect">
      <Property Name="DiffuseConstant" ProjectedNameOverride="DiffuseAmount"/>
      <Property Name="SurfaceScale" ProjectedNameOverride="HeightMapScale"/>
      <Property Name="Color" ProjectedNameOverride="LightColor"/>
      <Property Name="KernelUnitLength" ProjectedNameOverride="HeightMapKernelSize"/>
      <Property Name="ScaleMode" ProjectedNameOverride="HeightMapInterpolationMode"/>
      <Property Name="Azimuth" ConvertRadiansToDegrees="true"/>
      <Property Name="Elevation" ConvertRadiansToDegrees="true"/>
    </Effect>
    <Effect Name="DistantSpecularEffect">
      <Property Name="SpecularConstant" ProjectedNameOverride="SpecularAmount"/>
      <Property Name="SurfaceScale" ProjectedNameOverride="HeightMapScale"/>
      <Property Name="Color" ProjectedNameOverride="LightColor"/>
      <Property Name="KernelUnitLength" ProjectedNameOverride="HeightMapKernelSize"/>
      <Property Name="ScaleMode" ProjectedNameOverride="HeightMapInterpolationMode"/>
      <Property Name="Azimuth" ConvertRadiansToDegrees="true"/>
      <Property Name="Elevation" ConvertRadiansToDegrees="true"/>
    </Effect>
    <Effect Name="DpiCompensationEffect">
      <Property Name="InputDpi" ProjectedNameOverride="SourceDpi"/>
      <Property Name="BorderMode" DefaultValueOverride="1"/>
    </Effect>
    <Effect Name="GaussianBlurEffect">
      <Property Name="StandardDeviation" ProjectedNameOverride="BlurAmount"/>
    </Effect>
    <Effect Name="LinearTransferEffect">
      <Property Name="RedYIntercept" ProjectedNameOverride="RedOffset"/>
      <Property Name="GreenYIntercept" ProjectedNameOverride="GreenOffset"/>
      <Property Name="BlueYIntercept" ProjectedNameOverride="BlueOffset"/>
      <Property Name="AlphaYIntercept" ProjectedNameOverride="AlphaOffset"/>
    </Effect>
    <Effect Name="OpacityMetadataEffect">
      <Property Name="InputOpaqueRect" ProjectedNameOverride="OpaqueRectangle"/>
    </Effect>
    <Effect Name="PointDiffuseEffect">
      <Property Name="DiffuseConstant" ProjectedNameOverride="DiffuseAmount"/>
      <Property Name="SurfaceScale" ProjectedNameOverride="HeightMapScale"/>
      <Property Name="Color" ProjectedNameOverride="LightColor"/>
      <Property Name="KernelUnitLength" ProjectedNameOverride="HeightMapKernelSize"/>
      <Property Name="ScaleMode" ProjectedNameOverride="HeightMapInterpolationMode"/>
    </Effect>
    <Effect Name="PointSpecularEffect">
      <Property Name="SpecularConstant" ProjectedNameOverride="SpecularAmount"/>
      <Property Name="SurfaceScale" ProjectedNameOverride="HeightMapScale"/>
      <Property Name="Color" ProjectedNameOverride="LightColor"/>
      <Property Name="KernelUnitLength" ProjectedNameOverride="HeightMapKernelSize"/>
      <Property Name="ScaleMode" ProjectedNameOverride="HeightMapInterpolationMode"/>
    </Effect>
    <Effect Name="ShadowEffect">
      <Property Name="BlurStandardDeviation" ProjectedNameOverride="BlurAmount"/>
      <Property Name="Color" ProjectedNameOverride="ShadowColor"/>
    </Effect>
    <Effect Name="SpotDiffuseEffect">
      <Property Name="PointsAt" ProjectedNameOverride="LightTarget"/>
      <Property Name="DiffuseConstant" ProjectedNameOverride="DiffuseAmount"/>
      <Property Name="SurfaceScale" ProjectedNameOverride="HeightMapScale"/>
      <Property Name="Color" ProjectedNameOverride="LightColor"/>
      <Property Name="KernelUnitLength" ProjectedNameOverride="HeightMapKernelSize"/>
      <Property Name="ScaleMode" ProjectedNameOverride="HeightMapInterpolationMode"/>
      <Property Name="LimitingConeAngle" ConvertRadiansToDegrees="true"/>
    </Effect>
    <Effect Name="SpotSpecularEffect">
      <Property Name="PointsAt" ProjectedNameOverride="LightTarget"/>
      <Property Name="SpecularConstant" ProjectedNameOverride="SpecularAmount"/>
      <Property Name="SurfaceScale" ProjectedNameOverride="HeightMapScale"/>
      <Property Name="Color" ProjectedNameOverride="LightColor"/>
      <Property Name="KernelUnitLength" ProjectedNameOverride="HeightMapKernelSize"/>
      <Property Name="ScaleMode" ProjectedNameOverride="HeightMapInterpolationMode"/>
      <Property Name="LimitingConeAngle" ConvertRadiansToDegrees="true"/>
    </Effect>
    <Effect Name="TileEffect">
      <Property Name="Rect" ProjectedNameOverride="SourceRectangle"/>
    </Effect>
    <Effect Name="TurbulenceEffect">
      <Property Name="BaseFrequency" ProjectedNameOverride="Frequency"/>
      <Property Name="NumOctaves" ProjectedNameOverride="Octaves"/>
      <Property Name="Stitchable" ProjectedNameOverride="Tileable"/>
    </Effect>
    <Effect Name="ArithmeticCompositeEffect">
      <Input Name="Destination" ProjectedNameOverride="Source1"/>
      <Input Name="Source" ProjectedNameOverride="Source2"/>
      <Property Name="Coefficients" IsHidden="true"/>
      <Property Name="MultiplyAmount" Type="float"/>
      <Property Name="Source1Amount" Type="float"/>
      <Property Name="Source2Amount" Type="float"/>
      <Property Name="Offset" Type="float"/>
    </Effect>
    <Effect Name="ConvolveMatrixEffect">
      <Property Name="KernelSizeX" ProjectedNameOverride="KernelWidth"/>
      <Property Name="KernelSizeY" ProjectedNameOverride="KernelHeight"/>
      <Property Name="KernelUnitLength" ProjectedNameOverride="KernelScale"/>
      <Property Name="ScaleMode" ProjectedNameOverride="InterpolationMode"/>
      <Property Name="Bias" ProjectedNameOverride="Offset"/>
    </Effect>
  </Namespace>
</Settings>
