<?xml version="1.0"?>
<!--
Copyright (c) Microsoft Corporation. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use these files except in compliance with the License. You may obtain
a copy of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
-->

<Settings>

  <!-- This document contains overrides for what is in the D2D API xml files.-->

  <Prefix Value="Canvas"/>

  <Subnamespace Value="Canvas"/>

  <FilenameBase Value="Canvas"/>
  
  <Primitive Name="FLOAT" ProjectedNameOverride="float"/>
  
  <Namespace Name="D2D" NameOverride="D2D1">
    <Struct Name="POINT_2F" ShouldProject="false" ProjectedNameOverride="Point" IdlNamespaceQualifier="Windows.Foundation."/>
    <Struct Name="RECT_F" ShouldProject="false" ProjectedNameOverride="Rect" IdlNamespaceQualifier="Windows.Foundation."/>
  </Namespace>

  <Namespace Name="D2D1">
    <!-- Enums and structs are not projected by default and need to be explicitly included here -->
    <!-- Todo: Sanity check that the same element isn't specified twice for overrides. See backlog item #1140.-->

    <Enum Name="DEBUG_LEVEL" ShouldProject="true"/>
    <Enum Name="CAP_STYLE" ShouldProject="true"/>
    <Enum Name="DASH_STYLE" ShouldProject="true">
        <Field Name="CUSTOM" ShouldProject="false" />
    </Enum>
    <Enum Name="LINE_JOIN" ShouldProject="true"/>
    <Enum Name="STROKE_TRANSFORM_TYPE" ShouldProject="true" ProjectedNameOverride="StrokeTransformBehavior"/>"
    <Enum Name="ANTIALIAS_MODE" ShouldProject="true" ProjectedNameOverride="Antialiasing">
        <Field Name="PER_PRIMITIVE" ProjectedNameOverride="Antialiased"/>
    </Enum>
    <Enum Name="PRIMITIVE_BLEND" ShouldProject="true" ProjectedNameOverride="Blend"/>
    <Enum Name="TEXT_ANTIALIAS_MODE" ShouldProject="true" ProjectedNameOverride="TextAntialiasing">
        <Field Name="CLEARTYPE" ProjectedNameOverride="ClearType"/>
    </Enum>
    <Enum Name="UNIT_MODE" ShouldProject="true" ProjectedNameOverride="Units"/>
    <Enum Name="EXTEND_MODE" ShouldProject="true" ProjectedNameOverride="EdgeBehavior"/>
    <Enum Name="INTERPOLATION_MODE" ShouldProject="true" ProjectedNameOverride="ImageInterpolation"/>
  </Namespace>
  
  <Namespace Name="Effects">
    <Enum Name="EffectInterpolationMode3D" ShouldProject="false" ProjectedNameOverride="CanvasImageInterpolation" Namespace="Microsoft.Graphics.Canvas">
        <Field Name="HighQualityCubic" Index="5" ShouldProject="false"/>
    </Enum>
    <Enum Name="EffectInterpolationMode2D" ShouldProject="false" ProjectedNameOverride="CanvasImageInterpolation" Namespace="Microsoft.Graphics.Canvas"/>
    <Enum Name="CompositeEffectMode" ShouldProject="true">
        <Field Name="Plus" ShouldProject="true" ProjectedNameOverride="Add"/>
    </Enum>
  </Namespace>
  
</Settings>
