<Settings>

  <!-- This document contains overrides for what is in the D2D API xml files.-->

  <Prefix Value="Canvas"/>

  <Subnamespace Value="Canvas"/>

  <FilenameBase Value="Canvas"/>
  
  <Namespace Name="D2D" NameOverride="D2D1">
    <Struct Name="POINT_2F" ShouldProject="false" ProjectedNameOverride="Point" IdlNamespaceQualifier="Windows.Foundation."/>
    <Struct Name="RECT_F" ShouldProject="false" ProjectedNameOverride="Rect" IdlNamespaceQualifier="Windows.Foundation."/>
  </Namespace>

  <Namespace Name="D2D1">
    <!-- Enums and structs are not project by default and need to be explicitly included here -->
    <!-- Todo: Sanity check that the same element isn't specified twice for overrides. See backlog item #1140.-->

    <Enum Name="DEBUG_LEVEL" ShouldProject="true"/>

    <Struct Name="ROUNDED_RECT" ShouldProject="true" ProjectedNameOverride="RoundedRectangle"/>
    <Struct Name="ELLIPSE" ShouldProject="true"/>
  </Namespace>
</Settings>
