<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="1e820fbd-866a-4062-926f-baccda03a48e"
            Publisher="CN=test_external_WindowsPhone"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="1e820fbd-866a-4062-926f-baccda03a48e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>test.external.WindowsPhone</DisplayName>
    <PublisherDisplayName>test_external_WindowsPhone</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion> 
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" 
        Executable="vstest.executionengine.appcontainer.exe" 
        EntryPoint="Microsoft.VisualStudio.TestPlatform.TestExecutor.AppContainer.App">
        <m3:VisualElements
            DisplayName="test.external.WindowsPhone"
            Square150x150Logo="Images\Logo.png"
            Square44x44Logo="Images\SmallLogo.png"
            Description="test.external.WindowsPhone"
            ForegroundText="light"
            BackgroundColor="#464646">
            <m3:DefaultTile Wide310x150Logo="Images\WideLogo.png" Square71x71Logo="Images\Square71x71Logo.png"/>
            <m3:SplashScreen Image="Images\SplashScreen.png"/>
            <m3:ApplicationView MinWidth="width320"/> <!--Used in XAML Designer. DO NOT REMOVE-->
        </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities> 
</Package>
