<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Windows.AbiWinRT" version="2.0.210330.2" targetFramework="native" />
  <package id="Microsoft.Windows.MidlRT" version="2.0.200924.1" targetFramework="native" />
  <!-- WindowsAppSdk packages -->
  <package id="Microsoft.Web.WebView2" version="1.0.3800.47" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.26100.7705" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools.MSIX" version="1.7.251221100" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.WindowsAppSDK.Base" version="1.8.251216001" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.Foundation" version="1.8.260203002" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.InteractiveExperiences" version="1.8.260125001" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.WinUI" version="1.8.260204000" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.Runtime" version="1.8.260209005" targetFramework="native" />
  <!-- -->
</packages>